.clock {
    background: darkgray;
    width: 200px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}
.clock-time
.clock-ampm {
    font-family: sans-serif;
    font-family: 30px;
    color: lightcoral;
}

.clock-time{
    font-size: 40px;
}